<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="loadBundle(bundleName)">
        <div class="content" id="react"></div>
        <th:block th:if="${isDev}">
            <script th:src="${'http://localhost:3000/' + bundleName + '.bundle.js'}"></script>
        </th:block>
        <th:block th:if="${!isDev}">
            <script th:src="${'bundle/' + bundleName + '.bundle.js'}"></script>
        </th:block>
    </th:block>
</html>